doctype html
html(lang='en')
	head
	body
		include ./partials/header
		include ./partials/nav
		.container
			.row.mt-4
				.col-12.col-md-6.offset-md-3
					.row.mt-4
						h4 User Information:
					.row
						include ./partials/users
				.col-12.col-md-6.offset-md-3
					.row.mt-4
						h4 User Favourite:
					.row
						include ./partials/books
			.row.mt-4
				.col-12.col-md-6.offset-md-3
					.row.users-wrapper
		include ./partials/script
